<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FoodServer{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}" />
    {% load i18n %}
</head>
<body>
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-default" style="background-color:Green">
    <div class="container-fluid">

            {% if not user.is_authenticated %}
        <form class="navbar-form navbar-right" role="login" method="post" action="login">
             {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" value="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" value="">
                </div>
                <button type="submit" class="btn btn-default">Login</button>
        </form>
            {% else %}
        <div class="navbar navbar-left">
            <div class="dropdown">
                <br>
                <a href="{% url 'orders' %}" class="dropbtn">{% translate "Orders" %}</a>
            </div>
        </div>
        <div class="navbar navbar-left">
            <div class="dropdown">
                <br>
                <a href="{% url 'products' %}" class="dropbtn">{% translate "Products" %}</a>
            </div>
        </div>
        <div class="navbar navbar-left">
            <div class="dropdown">
                <br>
                <a href="{% url 'suppliers' %}" class="dropbtn">{% translate "Suppliers" %}</a>
            </div>
        </div>
        <div class="navbar navbar-left">
            <div class="dropdown">
                <br>
                <a href="{% url 'checkout' %}" class="dropbtn">Checkout</a>
            </div>
        </div>
        <div class="navbar navbar-left">
            <div class="dropdown">
                <br>
                <a href="{% url 'reports' %}" class="dropbtn">{% translate "Reports" %}</a>
            </div> 
        </div>
        {% if user.is_superuser %}
        <div class="navbar navbar-left">
            <div class="dropdown">
                <br>
                <a href="{% url 'users' %}" class="dropbtn">{% translate "Users" %}</a>
            </div> 
        </div>
        {% endif %}
        <div class="navbar navbar-left">
            <div class="dropdown">
                <button class="dropbtn">{% translate "System" %}</button>
                <div class="dropdown-content">
                    <a href="{% url "info" %}"><h2> {% translate "Company Info" %} </h2></a>
                    <a href="{% url "config" %}"><h2> {% translate "Configuration" %} </h2></a>
                </div>
              </div> 
        </div>
        <form class="navbar-form navbar-right" role="logout" method="post" action="logout">
             {% csrf_token %}
                <div class="form-group">
                    <h2 style="color:white">{% translate "Hello" %}, {{ user.username }}</h2>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Logout</button>
                </div>
        </form>
            {% endif %}

    </div>
</nav>
    <br>
    {% load static %}
    <img src="{% static 'orders/logotemplate.png' %}" alt="Restaurant Logo" style="width:300px;height:200px;">
    <br>
    {% block body %}
    {% endblock %}
</body>
</html>