{% extends 'orders/base.html' %}
{% load i18n %}
{% block title %}{% translate "Company Info" %}{% endblock %}
{% block body %}
  <br>
  <h1>{% translate "Company Info" %}</h1>
  <div>
    <form method="post" action="{% url 'info' %}">
      {% csrf_token %}
      <img src="company/{{ company.logo }}" alt="Company Logo" style="width:150px;height:180px;float:left;">
      <input name="logo" id="logo" type="image" disabled></input>
      <br>
      <label for="name">{% translate "Name" %}....: </label>
      <input name="name" id="name" type="text" value="{{ company.name }}" disabled></input>
      <br>
      <label for="address">{% translate "Address" %}: </label>
      <input name="address" id="address" type="text" value="{{ company.address }}" disabled></input>
      <br>
      <label for="phone">{% translate "Phone" %}...: </label>
      <input name="phone" id="phone" type="tel" placeholder="12 34567-8910" pattern="[0-9]{2} [0-9]{5}-[0-9]{4}" value="{{ company.phone }}" disabled></input>
      <br>
    {% if user.is_superuser %}
        <button id="bt_confirm" type="submit" disabled>{% translate "Confirm Changes" %}</button>
    {% endif %}
    </form>
    {% if user.is_superuser %}
    <button name="bt_update" id="bt_update" onclick="UpdateInfo()">{% translate "Update Info" %}</button>
    {% endif %}
  </div>

  <script>
    const logo = document.getElementById("logo");
    const name = document.getElementById("name");
    const address = document.getElementById("address");
    const phone = document.getElementById("phone");
    const conf = document.getElementById("bt_confirm");

    phone.addEventListener("input", PhoneFormat);

    function PhoneFormat(e){
      if (phone.value.length == 2){
        phone.value = phone.value + " "
      }
      if (phone.value.length == 8){
        phone.value = phone.value + "-"
      }
    }

    function UpdateInfo(){
      logo.removeAttribute("disabled");
      name.removeAttribute("disabled");
      address.removeAttribute("disabled");
      phone.removeAttribute("disabled");
      conf.removeAttribute("disabled");
    }
  </script>

{% endblock %}