{% extends 'orders/base.html' %}
{% load i18n %}
{% block title %}{% translate "Company Info" %}{% endblock %}
{% block body %}
  <br>
  <h1>{% translate "Company Info" %}</h1>
  <div>
    <img src="company/{{ company.logo }}" alt="Company Logo" style="width:150px;height:180px;float:left;">
    <h2>{{ company.name }}</h2>
    <h3>{{ company.address }}</h3>
    <h3>{{ company.phone }}</h3>
    <br>
    {% if user.is_superuser %}
        <a href="#">{% translate "Update Info" %}</a>
    {% endif %}
  </div>

{% endblock %}