{% extends 'orders/base.html' %}
{% block title %}Delete User{% endblock %}
{% block body %}
  <br>
  <h1>Delete User</h1>
<div style="width:50%">
  <form action="{% url 'delete_user' %}" method="post">
      {% csrf_token %}
      <label for="user_id">Username</label>
      <select id="user_id_input" name="user_id" required>
        {% for usr in users %}
        <option value="{{ usr.id }}">{{ usr.username }}</option>
        {% endfor %}
      </select>
      
      
      <button id="Confirm_button" name="Confirm" type="submit">Confirm</button>
  </form>
</div>

{% endblock %}