{% extends 'orders/base.html' %}
{% load i18n %}

{% block title %}{% translate "New Order" %}{% endblock %}
{% block body %}
<nav class="navbar navbar-default" style="background-color:Tomato">
    <div class="container-fluid">
        <h1>{% translate "New Order" %}</h1>
    </div>
</nav>
</div>
<form class="navbar-form navbar-left" method="post" name="neworder">
        {% csrf_token %}
        <div class="form-group">
            <label for="table_number"><h2>{% translate "Table" %}: </h2></label>
            <input type="number" id="table_number" class="form-control" name="table_number" value="">
        </div>
        <div class="form-group">
            <h2>{% translate "Items" %}: </h2>
            <div id="order_items" style="overflow:scroll; height:400px;" class="form-control" size=5 name="order_items">
                {% for product in products %}
                <input type="checkbox" id="{{ product.name }}" value={{ product.id }}>
                <label for="{{ product.name }}">{{ product.name }}</label> ------- 
                <input type="number" id="{{ product.name }}_qtd" value="">
                <br>
                {% endfor %}
            </div>
        </div>
        <br>
    <button type="submit" class="btn btn-default" style="width:200px;">OK</button>
</form>
</div>
{% endblock %}