{% extends 'orders/base.html' %}
{% block title %}Password Setup{% endblock %}
{% block body %}
  <br>
  <h1>{{ message }}</h1>
<div style="width:50%">
  <form action="{% url 'update_password' pk=0 %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="username" value="{{ username }}">
      <input type="password" class="form-control" id="password_input" name="password" value="" required>
      <label for="password">Password</label>
      <input type="password" class="form-control" id="confirm_pass_input" name="confirm_pass" value="" required>
      <label for="confirm_pass">Confirm password</label>
      <button id="Confirm" type="submit" disabled>Confirm</button>
      <p id="values" style="color:red"></p>
  </form>
</div>
<script>
  const pass = document.getElementById("password_input");
  const confpass = document.getElementById("confirm_pass_input");
  const confbutton = document.getElementById("Confirm");
  const log = document.getElementById("values");

  confpass.addEventListener("input", Confirmation);

  function Confirmation(e){
    console.log(pass.value)
    if(e.target.value == pass.value){
      confbutton.removeAttribute("disabled");
      log.textContent = "";
    } else {
      log.textContent = "Password doesn't match!";
      confbutton.setAttribute("disabled", "");
    }
  }
</script>

{% endblock %}