{% extends 'orders/base.html' %}
{% load i18n %}
{% block title %}{% translate "Orders" %}{% endblock %}
{% block body %}
    <h1 style="background-color:Tomato;">{% translate "Orders" %}</h1>
    {% if all_orders %}
        <ul id="orders_list">
        {% for order in all_orders%}
            {% if order.status != 'PA' %}
                <li><div style="background-image:linear-gradient(to bottom right, pink, green); border: thick double; width:50%;height:auto;">
                    <h3>{% translate "Table" %}: {{ order.table }} || Status: {{ order.get_status_display }}</h3>
                    <input type='hidden' class='order_id' value="{{ order.id }}">

            {% if user.is_authenticated %}
                {% if order.status == 'CA' %}
                    <form method="delete">
                        {% csrf_token %}
                    <button name="delete" type="submit" value="{{ order.id }}">{% translate "Delete Order" %}</button>
                    </form>
                {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <select name="status" id="status">
                            <option value="WA">{% translate "Waiting" %}</option>
                            <option value="DE">{% translate "Delivered" %}</option>
                            <option value="PD">{% translate "Partially Delivered" %}</option>
                            <option value="PP">{% translate "Preparing" %}</option>
                            <option value="CA">{% translate "Canceled" %}</option>
                        </select>
                        <button name="submit" type="submit" value="{{ order.id }}">{% translate "Change" %} Status</button>
                    </form>
            {% endif %}
            </div>
            </li>
            <br>
            {% for product in order.product.all %}
            <p> <b>-Item:</b> {{ product.name }} - ${{ product.price }}</p>
            {% endfor %}
            {% endif %}
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <h1>{% translate "No new orders" %}</h1>
        <ul id="orders_list">
        </ul>
    {% endif %}
    {{ request.user.username|json_script:"user_username" }}
    
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        // const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; // use this in case csrf_use_sessions = true 
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        const order_doms = document.getElementsByClassName("order_id");
        const order_ids = [];

        let last_order;

        for (let o_dom of order_doms){
            order_ids.push(o_dom.value);
        }

        // check websocket connection
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/orders/'
        );

        function UpdateOrders (e) {
            const json_data = JSON.parse(e.data);
            const order = json_data.message
            let count = Object.keys(order).length;
            let now = new Date();
            let message = now.getFullYear() + "-" + (now.getMonth()+1) + "-" + now.getDate() + " " + now.getHours() + ":" + now.getMinutes();

            if (count > 0 && order.id != last_order) {
                if(!order_ids.includes(order.id)){
                    const list_item = document.createElement('li');
                    let status_str;
                    switch(order.status){
                        case "WA":
                            status_str = "Waiting";
                            break;

                        case "DE":
                            status_str = "Delivered";
                            break;

                        case "PD":
                            status_str = "Partially Delivered";
                            break;

                        case "PP":
                            status_str = "Preparing";
                            break;

                        case "CA":
                            status_str = "Canceled";
                            break;

                        default:
                            status_str = "Waiting";
                            break;

                    }
                    list_item.innerHTML = `
                    <div style="background-image:linear-gradient(to bottom right, pink, green); border: thick double; width:50%;height:auto;">
                    <h3>Table: ${order.table} || Status: ${status_str}</h3>
                    <input type='hidden' class='order_id' value="${order.id}">
                    
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${csrftoken}" />
                        <select name="status" id="status">
                            <option value="WA">Waiting</option>
                            <option value="DE">Delivered</option>
                            <option value="PD">Partially Delivered</option>
                            <option value="PP">Preparing</option>
                            <option value="CA">Canceled</option>
                        </select>
                        <button name="submit" type="submit" value="${order.id}">Change Status</button>
                    </form>
                    </div>
                    
                `;
                    
                    for (let product of order.product){
                        list_item.innerHTML += `<p> <b>-Item:</b> ${product.name} - $${product.price}</p>
                        
                        `
                    }
                    document.getElementById('orders_list').appendChild(list_item);

                    last_order = order.id;

                    chatSocket.send(JSON.stringify({
                            "message": message,
                            "username": user_username }));
                }
            } else {
                chatSocket.send(JSON.stringify({
                    "message": message,
                    "username": user_username }));
            }     
        }

        chatSocket.onmessage = function(event) { setTimeout(() => { UpdateOrders(event);}, 3000); };

    </script>
{% endblock %}