{% extends 'orders/base.html' %}
{% block title %}Orders{% endblock %}
{% block body %}
    <h1 style="background-color:Tomato;">Orders</h1>
    {% if all_orders %}
        <ul id="orders_list">
        {% for order in all_orders%}
            {% if order.status != 'PA' %}
                <li><h3>Table: {{ order.table }} || Status: {{ order.get_status_display }}</h3>

            {% if user.is_authenticated %}
                {% if order.status == 'CA' %}
                    <form method="post">
                        {% csrf_token %}
                    <button name="delete" type="submit" value="{{ order.id }}">Delete Order</button>
                    </form>
                {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <select name="status" id="status">
                            <option value="WA">Waiting</option>
                            <option value="DE">Delivered</option>
                            <option value="PD">Partially Delivered</option>
                            <option value="PP">Preparing</option>
                            <option value="CA">Canceled</option>
                        </select>
                        <button name="submit" type="submit" value="{{ order.id }}">Change Status</button>
                    </form>
            {% endif %}
            </li>
            <br>
            {% for product in order.product.all %}
            <p> <b>-Item:</b> {{ product.name }} - ${{ product.price }}</p>
            {% endfor %}
            {% endif %}
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <h1>No new Orders</h1>
        <ul id="orders_list">
        </ul>
    {% endif %}
    {{ request.user.username|json_script:"user_username" }}
    
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        // const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; // use this in case csrf_use_sessions = true 
        const user_username = JSON.parse(document.getElementById('user_username').textContent);

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/orders/'
        );

        chatSocket.onmessage = function (e) {
            const order = JSON.parse(e.data);
            
            const list_item = document.createElement('li');
            list_item.innerHTML = `
            <h3>Table: ${order.table} || Status: ${order.status}</h3>
            
            <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrftoken}" />
                <select name="status" id="status">
                    <option value="WA">Waiting</option>
                    <option value="DE">Delivered</option>
                    <option value="PD">Partially Delivered</option>
                    <option value="PP">Preparing</option>
                    <option value="CA">Canceled</option>
                </select>
                <button name="submit" type="submit" value="${order.id}">Change Status</button>
            </form>
            
          `;
            for (let product of order.product){
                list_item.innerHTML += `<p> <b>-Item:</b> ${product.name} - $${product.price}</p>
                
                `
            }
            document.getElementById('orders_list').appendChild(list_item);

            setTimeout(chatSocket.send(JSON.stringify({
                'message': {% with all_orders|first as last_order %}
                            {{ last_order.date}}
                           {% endwith %},
                'username': user_username,
            }));, 2000);
        }

        chatSocket.send(JSON.stringify({
            'message': {% with all_orders|first as last_order %}
                        {{ last_order.date}}
                       {% endwith %},
            'username': user_username,
        }));

        function removeRow(input) {
            document.getElementById('orders_list').removeChild(input.parentNode);
        }
    </script>
{% endblock %}