{% extends 'orders/base.html' %}
{% load i18n %}
{% block title %}{% translate "New Product" %}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{% translate "Register New Product" %}</h3>
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'orders/form-template.html' %}
            <div class="form-group">
              <div class="col_sm_offset-2 col-sm-10">
                <button class="btn btn-success" type="submit">{% translate "Confirm" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}