{% extends 'orders/base.html' %}
{% load i18n %}

{% block title %}{% translate "Products" %}{% endblock %}
{% block body %}
    <nav class="navbar navbar-default" style="background-color:Tomato">
        <div class="container-fluid">
            <h1>{% translate "Products" %}</h1>
            <div class="navbar navbar-left">
                <a href="{% url 'reg_product' %}"><h2 style="color:black"><pre> {% translate "Add Product" %} </pre></h2></a>
            </div>
            <form class="navbar-form navbar-right" role="search" method="post" name="search">
                 {% csrf_token %}
                <div class="form-group">
                    <label for="prod_search"><h2>{% translate "Search" %}: </h2></label>
                    <input type="text" id="prod_search" class="form-control" name="search" value="">
                </div>
                <button type="submit" class="btn btn-default">OK</button>
            </form>
        </div>
    </nav>
<ul style="list-style-type:none;">
{% for product in products %}
    <li>
        <div style="background-image:linear-gradient(to bottom right, pink, green); border: thick double; width:50%;height:auto;">
            
            <img src="media/{{ product.picture }}" alt="Product Image" style="width:150px;height:180px;float:left;">

            <h2> - {{ product.name }}</h2>
            <h2>  $ {{ product.price|floatformat:2 }}</h2><br>
            - {{ product.description }}
           
            <br>
            
                <form method="delete">
                        {% csrf_token %}
                    <button name="delete_btn" type="submit" value="{{ product.id }}" style="position:relative; top:-130px; right:-650px;">{% translate "Delete Product" %}</button>
                </form>

                <div><a href="{% url 'update_product' pk=product.id %}"><h2 style="color:black; width:30%;"><pre> {% translate "Update Product" %} </pre></h2></a></div>
            
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}