{% extends 'orders/base.html' %}

{% block title %}Reports{% endblock %}
{% block body %}
    <nav class="navbar navbar-default" style="background-color:Tomato">
        <div class="container-fluid">
            <h1>Reports</h1>
        </div>
    </nav>
<div>
    <img src="media/{{ plot }}" alt="No Data Graph to show!" style="width:800px;height:600px;float:left;">
    <form method="post" style="width:800px;height:600px;float:right;">
        {% csrf_token %}
            <div class="form-group">
                <select name="rep_type" id="rep_type">
                    <option value="MS">Monthly Sales</option>
                    <option value="SP">Sales/Product</option>
                    <option value="ME">Monthly Expenses</option>
                </select>
                <label for="rep_type">Report Type</label>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="start_period" id="start_period" value="">
                <label for="period">From: </label>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="end_period" id="end_period" value="">
                <label for="period">To: </label>
            </div>
            <button type="submit" class="btn btn-default">Generate Graph</button>
    </form>
</div>
{% endblock %}