{% extends 'orders/base.html' %}
{% load i18n %}
{% block title %}{% translate "Configurations" %}{% endblock %}
{% block body %}
  <br>
  <h1>{% translate "Configurations" %}</h1>
  <div>
    <form action="{% url 'config' %}" method="post">
      {% csrf_token %}
    <select name="language" id="lang">
      <option value="en-us">English</option>
      <option value="pt-br">Português</option>
      <option value="es-es">Español</option>
    </select>
    <button type="submit" class="btn btn-default">Confirm</button>
  </form>
  </div>

{% endblock %}